<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IronMan.Revit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IronMan.Revit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IronMan.Revit.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </IronMan.Revit.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IronMan.Revit.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>desktop</value>
            </setting>
        </IronMan.Revit.Properties.Settings>
    </applicationSettings>
</configuration>